
section {
    background-color: rgb(111,0,255);
   display: flex;
   flex-direction: column;
   align-items: center;
   

    h2 {
        font-size: 2rem
    }
    .heroes {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 50%;
        width: 50%;
        
        }

button {
    margin-bottom: 10vh;
    font-family: 'Nunito';
    font-size: 1.5rem;
    height: 10vh;
    width: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
        &:hover{
            background-color: gold;
        }
        a {
            text-decoration: black;
            color: black;
        }    
}


}