@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');



body {
    margin: 0 auto;
    font-family: 'Nunito','sans-serif';
    font-size: 1.2rem;
 
}

footer {
    background-color: black;
}
